<div class="header">
    <div  class="end-align">
        <button mat-mini-fab (click)="add()" color="primary" class="button-add">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<div class="center">
   
    
    <div class="content">
        <mat-table #table class="table" [dataSource]="dataSource">
            <ng-container matColumnDef="category">
                <mat-header-cell  *matHeaderCellDef> Categoria </mat-header-cell>             
                <mat-cell *matCellDef="let item">
                    {{item.category}} 
                </mat-cell>
              </ng-container>
        
            <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let item"> {{item.amount}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let item"> {{item.type}} </mat-cell>
            </ng-container>
           
        
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let item; columns: displayedColumns;"
            [class.user-pointer]="false" matRipple>
            </mat-row>
        
        
        
         </mat-table>
    </div>
</div>
